html {
    overscroll-behavior-y: none;
}
a{
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Merriweather', serif;
    color: white;
}

li {
    font-family: 'Gabarito', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}


.demo-div {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 10px;
}

.demo-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platform-list {
    display: flex;
    flex-direction: column;
}

.platform-p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
}


.demo-img-one {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    margin-left: 50px;
}

.demo-para-one {
    margin-top: 210px;
}

.demo-para-two {
    margin-top: 175px;
}

.demo-para-three {
    margin-top: 230px;
}

.demo-img-two {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    margin-right: 40px;
}

.demo-img-three {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    margin-left: 15px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #bbb;
    margin: 0;
    height: 100%;
    padding: 0;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
header {
    background: #1d1d1d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.founder{
    background-color: #141414;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 100px;
    justify-content: space-evenly;
}

.logo {
    max-height: 70px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    text-transform: uppercase;
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    display: flex;
    background-color: #141414;
    align-items: center;
    padding: 20px;
}

.container-platform {
    display: flex;
    background-color: #141414;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.left {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.right {
    flex: 1;
    overflow: hidden;
}

.main-img {
    border-radius: 30px;
    transition: 0.4s ease;
}

.platform-h3 {
    font-family: 'Merriweather', serif;
    color: white;
}



.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
}

.scroll-item {
    min-width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
}

    .slideshow-container {
        position: relative;
        overflow: hidden;
        transition: 0.4s ease;
    }

    .slide {
        display: none;
        width: 100%;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .dot-container {
        text-align: center;
    }

    .dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        background-color: #717171;
        border-radius: 50%;
        cursor: pointer;
    }

    .active {
        background-color: #bbb;
    }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}